<h1>
  Readux
</h1>

<h3 style="color: green;">Ingest complete: {{ manifest_pid }}</h3>
<p>
  Details:
  <ul>
    <li>Filename: <span style="font-family: monospace">{{ manifest_pid }}</span></li>
    <li>Manifest PID: <span style="font-family: monospace">{{ manifest_pid }}</span></li>
    <li><a href="{{ manifest_url }}">Edit manifest</a></li>
    <li><a href="{{ volume_url }}">Link to volume</a></li>
  </ul>
</p>
{% if html_warnings is not None %}
  <p>Warnings</p>
  <table>
    {% for warning in html_warnings %}
      <tr>
        {% for part in warning %}
          <td>{{ part }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endif %}